<div *ngIf="errorMessage">{{errorMessage}}</div>

<div *ngIf="isLoading">Loading ...</div>

<div *ngIf="!isLoading && apis && !apis.length">
    No API projects available.
</div>

<div *ngIf="!isLoading && apis && apis.length">
    <div>Api projects</div>

    <table class="table">
        <thead>
            <tr>
                <th>Documentaion Url</th>
                <th>Is Personal</th>
                <th>Is Private</th>
                <th>Is Public</th>
                <th>Is Team API</th>
                <th>Api name</th>
                <th>Api subdomain</th>

            </tr>
        </thead>

        <tr *ngFor="let api of apis">
            <td>
                {{api.apiDocumentationUrl}}
            </td>
            <td>
                {{api.apiIsPersonal}}
            </td>
            <td>
                {{api.apiIsPrivate}}
            </td>
            <td>
                {{api.apiIsPublic}}
            </td>
            <td>
                {{api.apiIsTeam}}
            </td>
            <td>
                {{api.apiName}}
            </td>
            <td>
                {{api.apiSubdomain}}
            </td>
        </tr>
    </table>

</div>
