<div *ngIf="errorMessage">{{errorMessage}}</div>

<div *ngIf="isLoading">Loading ...</div>

<div *ngIf="!isLoading && userId && username">
    <div>User id: {{userId}}</div>
    <div>Username: {{username}}</div>
</div>
