<div *ngIf="!isLoggedIn && !isLoading">

    <login-from></login-from>

</div>

<div *ngIf="isLoggedIn && !isLoading">

    <button class="btn btn-info" (click)="logout()">Logout</button>
    <user-info></user-info>
    <api-projects></api-projects>

</div>
