<div *ngIf="successMessage">{{successMessage}}</div>
<div *ngIf="errorMessage">{{errorMessage}}</div>

<form [formGroup]="form" (ngSubmit)="login()" novalidate>

    <div class="form-group">

        <div class="form-group-1">

            <input type="text" name="username" id="username" placeholder="Username" formControlName="username">
            <span *ngIf="errors.username && errors.username.length && errors.username.length > 0" class="alert-danger">
                {{ errors.username }}
            </span>
        </div>

        <div class="form-group-1">

            <input type="password" class="form-control-pass" name="password" id="password" placeholder="Password" formControlName="password">
            <span *ngIf="errors.password && errors.password.length && errors.password.length > 0" class="alert-danger">
                {{ errors.password }}
            </span>
        </div>

        <div class="checkbox-1">
            <button type="submit" class="btn btn-success" [disabled]="form.invalid">Login</button>
        </div>

    </div>
</form>
